/* inline code: all themes */
:not(pre)>code {
    background: transparent !important;
    background-color: transparent !important;
    padding: 0 !important;
    border: none !important;
    box-shadow: none !important;
}

/* inline code: dark mode */
[data-theme="dark"] :not(pre)>code {
    background: transparent !important;
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}