code,
:not(pre)>code,
[data-theme="dark"] code,
[data-theme="dark"] :not(pre)>code {
    background: transparent !important;
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}